@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

html{
    height: 100%;
    min-height: 100%;
}

body{
    background-color: #E5E5E5;
    max-height: 100vh;
}



.header{
    display: flex;
    height: 100px;
    background-color: #222222;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header ul{
    display: flex;
    justify-content: space-around;
    color: #fff;
    align-items: center;
    list-style-type: none;
}

.header ul li{
 padding-left: 2rem;
}

.header ul li:last-child{
    padding-right: 2rem;
}

.meio{
    display: flex;
    /* flex-direction: row; */
    /* flex: 1; */
    padding: 35px 18px;
    gap: 5px;
}

.propaganda{
    width: 490px;
    height: 350px;
    border-radius: 5px;
    background-image: url(../img/delivery.jpg);
    padding-top: 4px;
}

.cardapio{
    width: 491px;
    height: 350px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.propaganda h3{
    font-size: 24px;
    color: #FC200C;
    text-align: center;
}

.propaganda span{
    color: #FFFFFF;
}


.cardapio2{
    display: flex;
    max-width: 385px;
    height: 250px;
    align-items: center;
    justify-content: space-between;
    padding: 30px 55px 16px;
    
    

}

.cardapio2 ol li{
    padding-bottom: 10px;
    line-height: 18.75px;

}

.cardapio2 h3{
    padding-bottom: 20px;
    padding-top: 26px;
    font-size: 20px;
}

.cardapio2 img{
    max-width: 92px;
    height: 129px;
}

.cardapio h2{
    font-size: 24px;
    color: #FC200C;
    text-align: center;
    padding-top: 26px;
}

/* footer{

    color: #f3f3f3;
    display: flex;
    height: 150px;
    background-color: #222222;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    font-size: 16px;
    padding: 19px 20px;

}

footer ul li{
    max-height: 150px;
    list-style: none;
    padding: 12px; 
}*/

footer{
    background-color: #222222;
    color: #f3f3f3;
    font-size: 16px;
    display: flex;
    padding: 19px 20px;
    justify-content: space-between;
    align-items: center;

}

footer ul li{
    line-height: 34px;
    list-style: none;
}

footer img {
    max-width: 212px;
    height: 80px;

}

